<h1>Welcome to PPpostIt</h1>
<p id="index-title">This is a pretty sweet home page so far.</p>

<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section> Example of the box model.</section>